*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #0d0d0d;
  margin: auto 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  padding: 1.2em 2.5em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2em;
  grid-template-areas:
    "a a c c b b f f"
    "a a c c b b f f"
    "a a c c d d d d"
    "e e c c d d d d"
    "e e c c d d d d";
}

.block {
  background-color: #343434;
  border-radius: 0.5vh;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}

.block {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.potion {
  width: clamp(1em, 8vw, 15em);
  height: clamp(1em, 8vw, 15em);
  border-radius: 50%;

  animation: float 1.5s infinite ease-in-out;
}

/* Animation */

@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-8px);
  }
  100% {
    transform: translatey(0);
  }
}

/* Media Queries */

@media (max-width: 1300px) {
  .container {
    padding: 1.2em 1.5em;
    grid-template-areas:
      "a a c c b b b b"
      "a a c c b b b b"
      "a a c c d d d d"
      "e e e e d d d d"
      "e e e e d d d d";
  }
  .f {
    display: none;
  }

  .potion {
    width: min(7em, 9vw);
    height: min(7em, 9vw);
  }
}

@media (max-width: 1100px) {
  .container {
    grid-template-areas:
      "a a a a b b b b"
      "a a a a b b b b"
      "a a a a d d d d"
      "e e e e d d d d"
      "e e e e d d d d";

    column-gap: 1.5em;
  }
  .f {
    display: none;
  }
  .c {
    display: none;
  }
  .potion {
    width: min(12vw, 14vw);
    height: min(12vw, 14vw);
  }
}

@media (max-width: 700px) {
  .container {
    padding: 1.2em 1.2em;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "c c c c b b b b"
      "c c c c b b b b"
      "a a a a d d d d"
      "a a a a d d d d"
      "e e e e f f f f"
      "e e e e f f f f";
  }
  .f {
    display: grid;
  }
  .c {
    display: grid;
  }
  .potion {
    height: 12vw;
    width: 12vw;
  }
}
